<div class="container">
  <h2>Lista de Pacientes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes">
        <td>{{ paciente.id }}</td>
        <td>{{ paciente.nome }}</td>
        <td>{{ paciente.email }}</td>
        <td>{{ paciente.telefone }}</td>
        <td>
          <a [routerLink]="['/pacientes/editar', paciente.id]" class="btn btn-primary">Editar</a>
          <a [routerLink]="['/pacientes/excluir', paciente.id]" class="btn btn-danger">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-container">
    <a [routerLink]="['/pacientes/adicionar']" class="btn add-paciente-btn">Adicionar Paciente</a>
    <a [routerLink]="['/home']" class="btn btn-secondary">Home</a>
  </div>
</div>




  
  
  
