<div class="container">
  <h2>Listagem de Consultas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th> 
        <th>Médico</th>
        <th>Paciente</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas">
        <td>{{ consulta.idConsulta }}</td> 
        <td>{{ consulta.nomeMedico }}</td>
        <td>{{ consulta.nomePaciente }}</td>
        <td>{{ consulta.data | date: 'short' }}</td>
        <td>
          <a [routerLink]="['/consultas/excluir', consulta.idConsulta]" class="btn btn-danger">Excluir</a> 
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-container">
    <a [routerLink]="['/consultas/adicionar']" class="btn add-consulta-btn">Cadastrar Consulta</a>
    <a [routerLink]="['/home']" class="btn btn-secondary">Home</a>
  </div>
</div>

















  
