.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para o botão de adicionar consulta */
.add-consulta-btn {
  background-color: #08A6A6;
  color: #fff;
  text-decoration: none;
}

.add-consulta-btn:hover {
  background-color: #047a7a;
  text-decoration: underline;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}