<div class="container">
  <h2>Lista de Médicos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CRM</th>
        <th>Especialidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medico of medicos">
        <td>{{ medico.id }}</td>
        <td>{{ medico.nome }}</td>
        <td>{{ medico.email }}</td>
        <td>{{ medico.crm }}</td>
        <td>{{ medico.especialidade }}</td>
        <td>
          <a [routerLink]="['/medicos/editar', medico.id]" class="btn btn-primary">Editar</a>
          <a [routerLink]="['/medicos/excluir', medico.id]" class="btn btn-danger">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-container">
    <a [routerLink]="['/medicos/adicionar']" class="btn add-medico-btn">Adicionar Médico</a>
    <a [routerLink]="['/home']" class="btn btn-secondary">Home</a>
  </div>
</div>

  
  
  
